*{
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif
}
header {
    width: auto;
    background: rgb(0, 0, 0);
    color: white;
    margin: 9px;
    padding: 5px;
    
}


main {
    display: flex;
    width: auto;
    height: 80%;
    text-align: center;
    background: rgb(0, 0, 0);
    color: white;
    margin: 10px;
    padding: 5px;
    
    
}

footer {
    width: auto;
    height: 10%;
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
}

footer > h3{
    background: orange;
    margin: 10px;
    padding: 10px;
}

.columns {
    display: flex;
    background: rgb(7, 13, 124);
    margin: 15px;
    padding: 5px;
   
}

.column {
    margin: 5px auto;
    text-align: center;
    color: rgb(178, 23, 23);
    padding: 0px 10px ;
    
}

.footcolumn {
    text-align: center;
    background: rgb(228, 130, 2);
    margin: 15px;
    padding: 5px;
    color: yellow;
    
   
}

aside{
    background: rgb(208, 41, 41);
    margin: 15px 15px 15px 5px; 
    width: auto;
    color: rgb(233, 244, 121);
    padding: 10px; 
    
}

.section {
    display: flex;
    background: rgb(60, 109, 177) ;
    padding: 5px;
    margin: 15px;
    flex-wrap: wrap;
    
}
.columns-section {
    display: flex;
}


.column-section {
    width: 50%;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    color: rgb(42, 62, 78);
    
}

.foot-section {
    padding: 10px;
    width: 100%;
    text-align: center;
    color: rgb(131, 179, 219);
    
}


@media only screen and (max-width: 768px) {
    main {
        display: block;
        text-align: center;
        background: rgb(255, 217, 0);
        padding: 5px;
        
        
    }

    aside{
        width: auto;
        margin: 15px; 
        
    }


}

@media only screen and (max-width: 550px){
    .columns {
       display: block;  
    }

    .columns-section {
        display: block;
        
    }
    .column-section {
        width: auto;
        padding: 0px 10px 0px 10px;
    }
    .foot-section{
        padding: 0px 10px 0px 10px;
    }

    header {
        margin: 30px;
    }
    main{
        margin: 30px;
    }
    footer {
        margin: 30px;
    }
}

   





