*{
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif
}
header {
    width: auto;
    height: 10%;
    background: rgb(0, 0, 0);
    color: white;
    margin: 9px;
    padding: 1px;
    
}


main {
    width: auto;
    height: 80%;
    text-align: center;
    background: rgb(42, 74, 139);
    color: white;
    margin: 10px;
    border: 10px solid black
}

footer {
    width: auto;
    height: 10%;
    text-align: center;
    background: rgba(229, 142, 19, 0.707);
    margin: 10px;
    border: 10px solid black;
}

.columns {
    display: flex;
    background: rgb(7, 13, 124);
    margin: 10px;
    padding: 5px;
   
}

.column {
    margin: 5px auto;
    text-align: center;
    color: rgb(178, 23, 23);
    padding: 0px 10px ;
    
}

.footcolumn {
    text-align: center;
    background: rgb(228, 130, 2);
    margin: 10px;
    padding: 5px;
    color: yellow;
   
}

.section {
    display: flex;
}

aside{
    background: rgb(208, 41, 41);
    margin: 5px; 
    width: 30%;
    color: rgb(233, 244, 121);
    
}

.column-section{
    width: 35%;
}

.foot-section {
    flex-direction: column;
    
}





